@require 'table'
@require 'panel'

body {
	background-color: #0F2124;
}
html,
body,
#wrapper {
	width: 100%;
	height: 100%;
}
.game {
	height: 70vh;
	width: 70vh;
	margin: 5vmin auto;
	text-align: center;
	position: relative;
}