$width = 15%;
$margin = (100% - $width * 5)*.8;
.panel {
	width: $width;
	position: absolute;
	right: -(@width + 5%);
	height: 100%;
	top: 0;
	.btn {
		display: block;
		width: 100%;
		height: $width;
		margin-bottom: (100% - $width * 5)*.8;
		border-radius: 50%;
		&:last-child {
			margin: 0;
		}
	}
}
