$cellSize = 30px;
.table {
	display: inline-block;
	text-align: center;
	position: relative;
	width: auto;
	margin: 20px;
	.row {
		display: block;
		margin: 0;
		font-size: 0;
		.cell {
			display: inline-block;
			width: $cellSize;
			height: @width;
			outline: 1px solid white;
			margin: 0;
			padding:0;
			cursor: pointer;
		}
	}


}
