$tileSize10 = 10%;
.table {
	display: inline-block;
	text-align: center;
	position: relative;
	width: auto;
	&:before {
		content: "";
		display: block;
		margin-left: 100%;
	}
	.row {
		display: block;
		margin: 0;
		font-size: 0;
		.tile {
			display: inline-block;
			margin: 0;
			padding:0;
			cursor: pointer;
		}
	}
	&-10 {
		height: 100%;
		width: 100%;
		.row {
			height: 10%;
			width: 100%;
			.tile {
				width: 10%;
				height: 100%;
			}
		}
	}
}
